{% extends 'store_data.html' %}

{% block content %}
<div class="map">

    <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="polygon_coordinates" id="polygonCoordinates">
    <input type="submit" class="sub" value="Save Polygone" name="saveMarker" style="border-radius: 5px; background-color: rgb(204, 197, 176); margin-bottom: 10px;padding: 5px 10px;font-family:monospace;font-size: 20px;color: rgb(116, 22, 22);">
    </form>    

    <div class='col-6 rounded ' id="map" style="width: 890px;height: 565px; box-sizing:border-box; margin: auto; border-radius: 5px;box-shadow: 5px 5px 5px 5px #0000008c;">
        <div class="leaflet-control"></div>  
    </div>

</div>


<script>
var map = L.map('map').setView([37.21, 10.12], 12.5);
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);



// Create the sidebar control
var drawnItems = new L.FeatureGroup();
map.addLayer(drawnItems);

var drawControl = new L.Control.Draw({
    draw: {
        polygon: true, // desable polygon tool
        polyline: false, // desable polyline tool
        circle: false, // desable circle tool
        rectangle: false, // desable rectangle tool
        marker: false, // Enable marker tool
        // Add more tool options here as needed
    }
});
map.addControl(drawControl);

// Event listener for when a shape is drawn
map.on(L.Draw.Event.CREATED, function(event) {
    drawnItems.clearLayers();

    let layer = event.layer;
    drawnItems.addLayer(layer);

    var polygon = layer.toGeoJSON();
    var coordinates = polygon.geometry.coordinates[0];
    document.getElementById('polygonCoordinates').value = JSON.stringify(coordinates);

});
</script>
{% endblock content %}
